// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body, input{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #333;
}

.presentation{
    text-align: center;
}

.presentation input {
    width: 100%;
}

#tricky-table{
    width: 300px;
    height: 300px;
}

#tricky-table td{
    font-size: 50px;
    width: 100px;
    height: 100px;
}
